$base-salary-color: purple;
$light-grey: #efefef;
$grey: grey;
$benefits: #9570fa;
$targetBonus: #4e849f;
$signOnBonus: #6bbdd4;
$equity: #f1a627;
$baseSalary: #0c8f74;

body {
    box-sizing: border-box;
}